<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
    <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>7k</span>Market</a>
    <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
    <div class="search">
        <!--<i class="ion-ios-search-strong" ng-click="startSearch()"></i>
        <input id="searchInput" type="text" placeholder="Search for...">-->
    </div>
    <div class="user-profile clearfix">
        <div class="dropdown al-user-profile">
            <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
                {{ userName }}
            </a>
            <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                <li class="dropdown-item"><a href="#/login" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
            </ul>
        </div>
        <ul *ngIf="baItemsCount" class="al-msg-center clearfix">
            <li>
                <a href="#/pages/orders/basket" class="msg"  id="msg-dd2">
                    <i class="fa fa fa-archive"></i><span>{{ baItemsCount }}</span>
                    <div class="notification-ring"></div>
                </a>
            </li>
        </ul>
    </div>
</div>
